.body-block {font-family: 'Raleway', sans-serif; font-family: 'Roboto', sans-serif;}
.body-block {color:#434455; background-color: #FFFFFF;}
.body-block .text {color: #FFFFFF;}



.page-nav .link {
    color: #2E2F42;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;}


.section-one {
    background-color: #2E2F42;
}
.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
}
button :hover,
button :focus {
    background-color: #404BBF;
}

header {
    background-color: #E7E9FC;
}


           

.section-three {
    background-color: #F4F4FD;
}
footer {
    background-color: #2E2F42;
}
.text {
    color: #FFFFFF;
}
.text1 {
    color: #F4F4FD;
}
