.body-block {font-family: 'Raleway', sans-serif; font-family: 'Roboto', sans-serif;}
.body-block {color:#434455; background-color: #FFFFFF;}
.body-block .text {color: #FFFFFF;}



.page-nav .link {
    color: #2E2F42;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;}


.section-one {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.button {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;   
}
.button :hover,
.button :focus {
    background-color: #404BBF;
}

.section-two {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
    .section-two .paragraph {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

.section-three {
    background-color: #F4F4FD;
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
    .section-three .team {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
    .section-three .par {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

.section-four {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}





header {
    background-color: #E7E9FC;
}


           



footer {
    background-color: #2E2F42;
}
.text {
    color: #FFFFFF;
}
.text1 {
    color: #F4F4FD;
}
